.App {
  text-align: center;
  font: 19px "Times New Roman";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.sh-intro-section {
  width: 100%;
  background-image: url("./images/main.jpg");
  background-repeat: no-repeat;
  height: 1357px;
  background-size: contain;
}
.sh-section-2 {
  width: 100%;
  background-image: url("./images/image2-1.jpg");
  background-repeat: no-repeat;
  height: 1357px;
  background-size: contain;
}
.sh-section-2-container {
  display: flex;
  padding-top: 200px;
}

.sh-section-3 {
  width: 100%;
  background-image: url("./images/image3.jpg");
  background-repeat: no-repeat;
  height: 1357px;
  background-size: contain;
}
.sh-section-4 {
  background-image: url("./images/image4.jpg");
}
.sh-section-3-article-text {
  text-align: left;
  font-size: 40px;
  display: block;
  margin: 1em;
}
.sh-section-3-container {
  padding: 17em 15em 21em 15em;
}
.sh-section-2-article {
  color: white;
  font-size: 30px;
  width: 45%;
  border: 1px solid;
  padding: 3em;
  margin-left: 200px;
}
.header-info-logo-white {
  width: 200px;
}
.sh-logo-footer-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 100px;
}
.sh-section-2-article-text {
  display: block;
  text-align: left;
  line-height: 1.3;
  font-size: 32px;
}
.sh-section-2-article-heading {
  color: white;
  width: 20%;
  text-align: left;
  padding-left: 1em;
  font-size: 64px;
}
.header-info-logo {
  width: 450px;
  margin-top: 300px;
}
.profile-text-container {
  font: 64px "Times New Roman";
  color: #ffffff;
  line-height: 43px;
  position: relative;
  top: 400px;
  display: inline-block;
  left: 21%;
}

.profile-divider {
  display: inline-block;
  border-left: 6px solid white;
  height: 200px;
  position: relative;

  margin-left: 67px;
  margin-right: 20px;
}
.profile-text {
  width: 200px;
  display: inline-block;
  line-height: 64px;
}
.profile-text-left {
  top: -110px;
  position: relative;
}
.sh-section-4-heading {
  font: 35px "Courier New";
  color: #ffffff;
  line-height: 1;
  font-size: 52px;
  margin-bottom: 1em;
}
.sh-section-4-article-text {
  margin-bottom: 1em;
}
.sh-section-4-container {
  padding-top: 300px;
}

.sh-section-5 {
  background-image: url("./images/image5.jpg");
}
.sh-section-5-container {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 200px;
  margin-bottom: 250px;
}

.sh-section-5-article-heading {
  text-align: end;
}
.number-circle {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 20px 30px;

  border: 2px solid white;
  color: white;
  text-align: center;

  font: 32px Arial, sans-serif;
}

.sh-section-6 {
  background-image: url("./images/image6.jpg");
}
.sh-section-6-article-container {
  display: flex;
  width: 100%;
}
.sh-section-6-article-container-left-section {
  width: 60%;
  padding-top: 6em;
}
.sh-section-6-article-container-right-section {
  width: 40%;
  background-color: rgba(255, 255, 255, 0.6);
  padding-left: 72px;
  text-align: left;
  padding-top: 2em;
  z-index: 1;
  height: 100%;
}
.section-header-title {
  font-size: 5em;
  color: white;
  font-weight: 500;
  padding: 0px 270px;
  margin: 0px;
  text-align: left;
}
.section-header-title-highlight {
  font-size: 52px;
  color: #ffd482;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  left: -100px;
}
.sh-section-6-container {
  margin-right: 0px;
  padding: 0px;
}
.sh-section-6-article-container-right-section-header {
  font: 72px "Times New Roman";
}
.sh-section-6-article-container-right-section-description {
  font-size: 26px;
}
.sh-section-6-image {
  top: -50px;
  position: relative;
  left: 60%;
  z-index: -2;
}

.sh-section-7 {
  background-image: none;
}
.section-7-background {
  background-image: url("./images/image7.jpg");
  background-repeat: no-repeat;
  height: 1347px;
  background-size: cover;
}

.section-7-background-right {
  background-image: url("./images/image8.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  height: 1271px;
}
.sh-section-7-image {
  position: relative;
  z-index: -2;
  left: 210%;
}
.sh-section-7-right-section-description {
  line-height: 32px;
}
.section-7-header-title-highlight {
  color: #ff0000;
}

.sh-section-8 {
  background-image: url("./images/image9.jpg");
}
.sh-section-8-container {
  background-image: url("./images/graph_transparent.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 0px;
  margin-left: 10em;
  height: 58%;
  flex-direction: column;
}
.sh-section-8-container-logo {
  display: flex;
  justify-content: flex-end;
  padding-top: 4em;
  padding-right: 4em;
}
.footer-info-logo-image {
  width: 260px;
}
.sh-section-8-container-row {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.sh-section-8-container-row-1 {
  margin-top: 200px;
}
.client-logos {
  width: 244px;
  margin: 4px 8px;
  height: 100px;
  border: 1px solid darkgrey;
}
.client-logos-large {
  height: 220px;
}
.middle-section-row {
  width: 524px;
}
.client-logo-thin {
  width: 150px;
}
.sh-footer-title {
  font-size: 30px;
  text-decoration-line: underline;
}
.sh-footer-title-description {
  font-size: 26px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .sh-intro-section {
    width: 100vw;
    height: 265px;
  }
  .header-info-logo {
    width: 150px;
    margin-top: 20px;
  }
  .profile-text-container {
    left: -20px;
    top: 30px;
    font: 25px "Times New Roman";
  }
  .profile-text {
    width: 60px;
    line-height: 26px;
  }
  .profile-divider {
    height: 94px;
    margin-left: 50px;
  }
  .profile-text-left {
    top: -56px;
  }
  .sh-section-2 {
    height: fit-content;
    background-size: cover;
  }
  .sh-section-3 {
    height: fit-content;
    background-size: cover;
  }
  .sh-section-2-container {
    padding-top: 40px;
    display: flex;
    flex-direction: column-reverse;
  }
  .sh-section-2-article {
    margin: 15px;
    padding: 16px;
    font-size: 15px;
    width: auto;
  }
  .sh-section-2-article-text {
    font-size: 14px;
  }
  .sh-section-2-article-heading {
    font-size: 34px;
    width: auto;
    padding: 0px 16px;
  }
  .sh-logo-footer-container {
    padding-right: 16px;
  }
  .header-info-logo-white {
    width: 80px;
  }
  .sh-section-3-container {
    padding: 0px;
    padding-top: 40px;
  }
  .sh-section-3-article-text {
    font-size: 16px;
    margin: 0px;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.6);
  }
  .sh-section-5-container {
    margin: 0px;
    flex-direction: column;
  }
  .sh-section-5-article-heading {
    margin-right: 1px;
  }
  .sh-section-5-article {
    width: 83%;
  }
  .number-circle {
    padding: 1px 10px;
  }
  .sh-section-4-heading {
    font-size: 20px;
  }
  .sh-section-6-article-container-left-section {
    width: 100%;
    padding: 3em 0px;
  }
  .section-header-title {
    font-size: 2em;
    padding: 0px 80px;

  }
  .section-header-title-highlight {
    font-size: 32px;
    left: 0px;
  }
  .sh-section-6-article-container {
    flex-direction: column;
  }
  .sh-section-6-article-container-right-section {
    width: auto;
    padding: 16px;
    height: auto;
  }
  .sh-section-6-article-container-right-section-header {
    font-size: 32px;
  }
  .sh-section-6-article-container-right-section-description {
    font-size: 16px;
  }
  .sh-section-6-container {
    padding: 0px;
  }
  .sh-section-7-image {
    left: 72%;
  }
  .sh-section-7-article-container {
    flex-direction: column-reverse;
  }
  .section-7-background-right {
    height: auto;
    background-size: cover;
  }
  .sh-section-8-container-logo {
    margin: 0px;
    justify-content: center;
    padding: 0px;
  }
  .sh-section-8-container {
    margin-left: 1em;
    background-size: contain;
    padding: 20px 10px;
    background-color: rgba(255, 255, 255, 0.6);
    flex-direction: column;
  }
  .sh-section-8-container-row-1 {
    margin-top: 16px;
  }
  .client-logos {
    width: 46px;
    height: 24px;
    margin: 1px 1px;
  }
  .client-logo-thin {
    width: 30px;
  }
  .middle-section-row {
    width: 100px;
  }
  .client-logos-large {
    height: 56px;
  }
  .sh-footer-title-description {
    font-size: 16px;
  }
  .sh-footer-title {
    font-size: 24px;
  }
  .sh-footer-section {
    background-color: rgba(255, 255, 255, 0.6);
    padding-bottom: 24px;
    padding-top: 16px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .sh-intro-section {
    width: 100vw;
    height: 265px;
    background-size: cover;
  }
  .header-info-logo {
    width: 150px;
    margin-top: 20px;
  }
  .profile-text-container {
    left: 200px;
    top: 30px;
    font: 25px "Times New Roman";
  }
  .profile-text {
    width: 60px;
    line-height: 26px;
  }
  .profile-divider {
    height: 94px;
    margin-left: 50px;
  }
  .profile-text-left {
    top: -56px;
  }
  .sh-section-2 {
    height: fit-content;
    background-size: cover;
  }
  .sh-section-3 {
    height: fit-content;
    background-size: cover;
  }
  .sh-section-2-container {
    padding-top: 40px;
    display: flex;
    flex-direction: column-reverse;
  }
  .sh-section-2-article {
    margin: 90px;
    padding: 16px;
    font-size: 15px;
    width: auto;
  }
  .sh-section-2-article-text {
    font-size: 14px;
  }
  .sh-section-2-article-heading {
    font-size: 34px;
    width: auto;
    padding: 0px 90px;
  }
  .sh-logo-footer-container {
    padding-right: 16px;
  }
  .header-info-logo-white {
    width: 80px;
  }
  .sh-section-3-container {
    padding: 90px;
    padding-top: 40px;
  }
  .sh-section-3-article-text {
    font-size: 16px;
    margin: 0px;
    padding: 32px 110px;
    background-color: rgba(255, 255, 255, 0.6);
  }
  .sh-section-5-container {
    margin: 0px;
    flex-direction: column;
  }
  .sh-section-5-article-heading {
    margin-right: 1px;
  }
  .sh-section-5-article {
    width: 50%;
  }
  .number-circle {
    padding: 1px 10px;
  }
  .sh-section-4-heading {
    font-size: 20px;
  }
  .sh-section-6-article-container-left-section {
    width: 100%;
    padding: 100px 0px;
  }
  .section-header-title {
    font-size: 2em;
    text-align: center;
  }
  .section-header-title-highlight {
    font-size: 32px;
    left: 0px;
  }
  .sh-section-6-article-container {
    flex-direction: column;
  }
  .sh-section-6-article-container-right-section {
    width: auto;
    padding: 90px;
    height: auto;
  }
  .sh-section-6-article-container-right-section-header {
    font-size: 32px;
  }
  .sh-section-6-article-container-right-section-description {
    font-size: 16px;
  }
  .sh-section-6-container {
    padding: 0px;
  }
  .sh-section-7-image {
    left: 40%;
  }
  .sh-section-7-article-container {
    flex-direction: column-reverse;
  }
  .section-7-background-right {
    height: auto;
    background-size: cover;
  }
  .sh-section-8-container-logo {
    margin: 0px;
    justify-content: center;
    padding: 0px;
  }
  .sh-section-8-container {
    margin-left: 1em;
    background-size: contain;
    padding: 20px 10px;
    background-color: rgba(255, 255, 255, 0.6);
    flex-direction: column;
  }
  .sh-section-8-container-row-1 {
    margin-top: 60px;
  }
  .client-logos {
    width: 106px;
    height: 56px;
    margin: 1px 1px;
  }
  .client-logo-thin {
    width: 66px;
  }
  .middle-section-row {
    width: 220px;
  }
  .client-logos-large {
    height: 122px;
  }
  .sh-footer-title-description {
    font-size: 16px;
  }
  .sh-footer-title {
    font-size: 24px;
  }
  .sh-footer-section {
    background-color: rgba(255, 255, 255, 0.6);
    padding-bottom: 24px;
    padding-top: 16px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .sh-section-8-container {
    background-size: cover;
  }
  .sh-section-8-container-row-1 {
    margin-top: 80px;
  }
  .client-logos {
    width: 136px;
    height: 75px;
    margin: 4px 4px;
  }
  .client-logo-thin {
    width: 66px;
  }
  .middle-section-row {
    width: 292px;
  }
  .client-logos-large {
    height: 170px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1500px) {
  .header-info-logo{
    margin-top: 100px;
  }
  .sh-intro-section,
  .sh-section-2,
  .sh-section-3 {
    height: 966px;
  }
  .number-circle{
    padding: 10px 20px;

  }
  .profile-text-container {
    top: 210px;
  }
  .sh-section-2-article {
    margin-left: 120px;
    padding: 2em;
  }
  .sh-section-2-container {
    padding-top: 110px;
  }
  .sh-section-2-article-text {
    font-size: 26px;
  }
  .sh-section-2-article-heading {
    font-size: 50px;
  }
  .sh-section-3-container {
    padding: 110px 140px 280px 280px;
  }
  .sh-section-3-article-text {
    font-size: 34px;
  }
  .sh-section-5-container {
    padding-top: 300px;
    margin-bottom: 60px;
    margin-right: 102px;

  }
  .section-header-title{
    padding:  0px 120px;
    padding-right: 2em;

  }
  .section-header-title-highlight{
    left:  -90px;

  }
  .sh-section-6-container {
    padding: 0px;
  }

  .sh-section-6-article-container-right-section-header {
    font-size: 45px;
    margin-bottom: 10px;
  }
  .sh-section-6-article-container-right-section-description {
    font-size: 17px;
  }
  .sh-section-6-image {
    top: 0px;
  }
  .section-7-background {
    height: 990px;
    padding-left: 20px;
  }
  .section-7-background-right {
    height: auto;
  }
  .sh-section-7 {
    background-image: none;
    height: 1028px !important;
}
  .sh-section-7-image {
    top: -130px;
  }
  .sh-section-8-container {
    padding-top: 110px;
  }
  .sh-section-8-container-row-1 {
    margin-top: 0px;
  }
  .client-logos {
    width: 165px;
    margin: 4px 4px;
    height: 90px;
  }
  .middle-section-row {
    width: 350px;
  }
  .client-logo-thin {
    width: 100px;
  }
  .client-logos-large {
    height: 196px;
  }
  .sh-section-8{
    height: 1200px;
    background-size: cover;
  }
  .sh-section-8-container-logo{
    padding:2em;
  }
  .sh-section-8-container{
    height: 50%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
